<div style="width: 100%; height: 100%;" fxLayoutAlign="center center">
  <mat-card class="container">
    <mat-card-title>
      Imposta Password
    </mat-card-title>
    <mat-card-content>
      <div class="form-container">
        <form [formGroup]="passwordFormGroup" (ngSubmit)="onSubmit()">
          <table>
            <tr>
              <td>
                <mat-form-field>
                  <input class="validate" matInput [type]="'password'"  placeholder="Password" formControlName="password">
                  <mat-error *ngIf="passwordFormGroup.get('password').hasError('minlength')">
                    Almeno 8 caratteri
                  </mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <input matInput [type]="'password'"  placeholder="Ripeti Password" formControlName="confirmPassword" [errorStateMatcher]="matcher">
                  <mat-error *ngIf="passwordFormGroup.hasError('notSame')">
                    Le password devono coincidere!
                  </mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td> <button mat-raised-button
                           [type]="'submit'"
                           [disabled] = "!passwordFormGroup.valid"
              >Registrati!</button>
              </td>
            </tr>
          </table>

        </form>
      </div>
    </mat-card-content>
  </mat-card>

</div>
