<mat-horizontal-stepper [linear]="isLinear" #stepper>
    <div *ngIf="error" class="error">Email o password errati</div>
  <mat-step [stepControl]="emailFormGroup">
    <form [formGroup]="emailFormGroup">
      <ng-template matStepLabel>Inserisci Email</ng-template>
      <mat-form-field>
        <input class="validate" [formControl]="email" matInput placeholder="Email" formControlName="email"  required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Avanti</button>
      </div>
    </form>
  </mat-step>


  <mat-step>
    <form [formGroup]="passwordFormGroup">
      <ng-template matStepLabel>Inserisci Password</ng-template>
      <mat-form-field>
        <input matInput [type]="'password'"  placeholder="Password" formControlName="password">
      </mat-form-field>
      <mat-form-field>
        <input matInput [type]="'password'"  placeholder="Password" formControlName="confirmPassword">
        <mat-error *ngIf="passwordFormGroup.hasError('NoPassswordMatch')">
          Passwords do not match!
        </mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Indietro</button>
        <button mat-button matStepperNext>Avanti</button>
      </div>
    </form>
  </mat-step>




  <mat-step>
    <ng-template matStepLabel>Inserisci Bambini</ng-template>
    <div>
        <mat-chip-list [selectable]="true" [multiple]="true">
            <div *ngIf="children && children.length !== 0">
              <mat-chip *ngFor="let child of children">{{child.name}}</mat-chip>
            </div>
            <mat-chip *ngIf="moreChildren()" (click)="showPopup()" [class.pointer]="true" style="background-color: transparent; ">
              <mat-icon svgIcon="add"></mat-icon>
            </mat-chip>
          </mat-chip-list>
      <button mat-button matStepperPrevious>Indietro</button>
      <button mat-button (click)="stepper.reset()" (click)="reset()">Reset</button>
      <button mat-raised-button 
                         [type]="'submit'" 
                         (click)="onSubmit()"
                         [disabled] = "!email.valid || !passwordFormGroup.valid || children.length < 1"
                  
                         >Registrati!</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>