<div style="margin: auto; padding:10px; width: 100%; word-break: break-word; background-color: transparent" fxLayout="row">
  <mat-card class="blue-background dialog-border dialog-shadow" style="width: 40%;margin-right: 10px;">
    <mat-card-title style="color: #fc463d">
      Disponibilit&agrave;
    </mat-card-title>
    <mat-card-subtitle style="color: #fefefe;">
      Assegna un accompagnatore.
    </mat-card-subtitle>

    <mat-card-content fxLayout="column" fxLayoutGap="16px">
      <form [formGroup]="shiftInputs" (ngSubmit)="setCompanion()" style="width:100%;">

        <mat-form-field class="companion_select" style="margin-left: auto; margin-right: auto; max-width: 150px;">
          <mat-label style="color: #FFFFFF;">Accompagnatore</mat-label>
          <mat-select formControlName="companion">
            <mat-option [value]="shift.defaultCompanion">(Default) {{shift.defaultCompanion}}</mat-option>
            <mat-option *ngFor="let acc of data.extendedProps.obj.availabilities | async" [value]="acc.email">
              {{acc.email}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div style="margin-top: 15px; margin-bottom: 15px;">
          <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between start" style="margin-bottom: 15px;">
            <span fxFlex="30">Partenza:</span>
            <span fxFlex="70">{{data.from}}</span>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutAlign.xs="space-between start">
            <span fxFlex="30">Arrivo:</span>
            <span fxFlex="70">
              <mat-form-field class="companion_select" style="max-width: 130px;">
                <mat-select formControlName="stop">
                    <mat-option *ngFor="let stop of stops$ | async" [value]="stop">[{{stop.back[shift.tripIndex]}}] {{stop.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <div [hidden]="!warning" class="stop-warning" style="max-width: 130px;font-weight: bold;text-align: center; cursor: help;"
                   matTooltip="Scegliere una fermata di arrivo diversa da quella prevista porterà alla creazione automatica di un nuovo turno complementare a quello qui definito."
                   aria-label="Info symbol for the warning message">
                Attenzione! &#9432;
              </div>
            </span>
          </div>
        </div>

      </form>

      <mat-divider [inset]="true" style="background-color: #FFFFFF; border-top-width: 2px !important;"></mat-divider>
      <div mat-dialog-actions fxLayoutAlign="center">
        <button mat-raised-button color="primary" type="submit" [disabled]="!shiftInputs.valid" *ngIf="!shift.disabled" (click)="setCompanion()">Assegna Turno</button>
        <button mat-raised-button [disabled]="true" style="color:#acacac;" *ngIf="data.extendedProps.obj.disabled">Assegna Turno</button>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card fxFlex class="blue-background dialog-border dialog-shadow">

    <mat-card-title style="color: #fc463d">
      Info Turno
    </mat-card-title>
    <mat-card-content>

      <mat-divider [inset]="true" style="background-color: #FFFFFF;"></mat-divider>
      <mat-divider [inset]="true" style="background-color: #FFFFFF;"></mat-divider>
      <div style="font-family: Garamond;">
        <h2 style="color: #FFFFFF;">
          {{data.date.toLocaleDateString("it-IT",{ weekday: 'long'}) | titlecase}}, <br>
          {{data.date.toLocaleDateString("it-IT",{ year: 'numeric', month: 'long', day: 'numeric' }) | titlecase}}
        </h2>
        <h3>
          <table style="overflow-wrap: break-word;">
            <tr>
              <td>Partenza: </td>
              <td>{{data.from}}</td>
            </tr>
            <tr>
              <td>
                Arrivo: </td>
              <td>{{data.to}}</td>
            </tr>
          </table>
        </h3>
      </div>
      <div>
        <h3 style="font-family: 'Bookman Old Style';font-weight: bold; color: #f29d27;">{{data.line}}</h3>
        <h4 style="font-family: 'Bookman Old Style';font-style: italic;">{{data.direction}}</h4>
      </div>

      <mat-divider [inset]="true" style="background-color: #FFFFFF;border-top-width: 2px !important; margin-bottom: 16px;"></mat-divider>
      <div mat-dialog-actions fxLayoutAlign="end center">
        <button mat-raised-button (click)="onNoClick()">Chiudi</button>
        <button mat-raised-button color="primary" (click)="onOkClick()" *ngIf="!data.extendedProps.obj.disabled && !shift.subscribed">Candidati</button>
        <button mat-raised-button color="primary" (click)="onCancelClick()" *ngIf="!data.extendedProps.obj.disabled && shift.subscribed">Ritira Candidatura</button>
        <button mat-raised-button [disabled]="true" style="color:#acacac;" *ngIf="data.extendedProps.obj.disabled">Candidati</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>


