<mat-card>
    <mat-card-header>
        <mat-card-title>Gestione bambini</mat-card-title>
        <mat-card-subtitle>Aggiungi o modifica le infomazioni suoi tuoi figli</mat-card-subtitle>
    </mat-card-header>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-content ngClass.gt-xs="content-big" ngClass.gt-sm="content-small" *ngIf="children" class="children"
                      fxLayout="row nowrap" fxLayoutAlign="left">
        <div *ngFor="let child of children" fxLayout="row nowrap" class="child" fxLayoutAlign="left">
            <app-child-card (click)="task_children(child)"
                            [pic]="child.photo"
                            [name]="child.name"
                            [sex]="child.gender"
                            [birthday]="child.birthday"
                            class="pointer"
            ></app-child-card>
        </div>

        <div class="child">
            <mat-card fxFill fxLayoutAlign="center center" class="add pointer" (click)="task_children(null)">
                <mat-icon svgIcon="add"></mat-icon>
            </mat-card>
        </div>
    </mat-card-content>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-content ngClass.gt-xs="content-big" ngClass.gt-sm="content-small">
        <mat-card *ngIf="title!=null">
            <mat-card-title>{{title}}</mat-card-title>
            <mat-card-content ngClass.gt-xs="content-big" ngClass.gt-sm="content-small">
                <form #f="ngForm" (ngSubmit)="f.valid && onSubmit()">
                    <div fxLayout="column">
                        <div fxFill fxLayout="row">
                            <div fxFlex="33%">
                                <mat-form-field>
                                    <mat-label>Nome</mat-label>
                                    <input matInput name="name" placeholder="Pierino" [(ngModel)]="child_to_update.name"
                                           ngModel
                                           required #name="ngModel">
                                </mat-form-field>
                                <div *ngIf="f.submitted && name.invalid" class="error">Inserire un nome</div>
                            </div>
                            <div fxFlex="33%" class="btn btn-default">
                                <input *ngIf="!(isScreenSmall$ | async)" type="file" (change)="selectFile($event)">
                            </div>
                        </div>
                        <div fxFill fxLayout.gt-xs="row" fxLayout.lt-sm="column">
                            <div fxFlex="33%" fxLayout="column">
                                <div>
                                    <mat-form-field>
                                        <mat-label>Cognome</mat-label>
                                        <input matInput placeholder="Rossi" name="surname"
                                               [(ngModel)]="child_to_update.surname"
                                               ngModel required #cognome="ngModel">
                                    </mat-form-field>
                                    <div *ngIf="f.submitted && cognome.invalid" class="error">Inserire un cognome</div>
                                </div>
                                <div>
                                    <mat-form-field>
                                        <mat-label>Data di Nascita</mat-label>
                                        <input matInput placeholder="01/01/2001" [matDatepicker]="picker"
                                               name="birthday"
                                               [(ngModel)]="child_to_update.birthday"
                                               ngModel required #nascita="ngModel">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                    <div *ngIf="f.submitted && nascita.invalid" class="error">Inserire la data di
                                        nascita
                                    </div>
                                </div>
                            </div>
                            <div fxFlex="33%">
                                <input *ngIf="isScreenSmall$ | async" type="file" (change)="selectFile($event)">
                                <img *ngIf="previewUrl" [src]="previewUrl" class="preview">
                            </div>
                            <div fxFlex="33%">
                                <img [src]="child_to_update.photo ? child_to_update.photo : '../../../../assets/icons/img_avatar.png'"
                                     class="preview">
                            </div>
                        </div>
                        <div fxFill fxLayout.gt-xs="row" fxLayout.lt-sm="column">
                            <div fxFlex="33%">
                                <p>Sesso*</p>
                                <mat-radio-group name="gender"
                                                 [(ngModel)]="child_to_update.gender" required #sesso="ngModel">
                                    <mat-radio-button value="M">M</mat-radio-button>
                                    <mat-radio-button style="margin-left:5px;" value="F">F</mat-radio-button>
                                </mat-radio-group>
                                <div *ngIf="f.submitted && sesso.invalid" class="error">Inserire il sesso</div>
                            </div>
                            <div fxFlex="33%" fxFlexAlign.gt-xs="center" ngClass.xs="small-options">
                                <mat-checkbox name="disability" [(ngModel)]="child_to_update.disability">
                                    Disabilità
                                </mat-checkbox>
                            </div>
                            <div fxFlex="33%" fxFlexAlign.gt-xs="center" ngClass.xs="small-options">
                                <mat-form-field>
                                    <mat-label>Note Extra</mat-label>
                                    <input matInput placeholder="es. Non vedente" name="other"
                                           [(ngModel)]="child_to_update.other">
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxFill fxLayout.gt-xs="row" fxLayout.lt-sm="column">
                            <button mat-raised-button color="primary">SALVA</button>
                            <button mat-raised-button type="button" (click)="f.valid && onDelete()"
                                    *ngIf="child_to_update.id">ELIMINA
                            </button>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>
<app-spinner *ngIf="children==null || task=='loading'"></app-spinner>
