.children {
  overflow: auto;
}

.child {
  margin: 0px;
  padding: 2px;
}

mat-icon {
  width: 40px;
  height: 40px;
  margin: auto;
}

.add {
  padding: 2px;
  margin: auto;
}

.error{
  color: red;
}

.preview{
  width: 150px;
  height: 150px;
}

button{
  margin: 20px;
}

mat-card-content{
  padding: 10px;
}
