<mat-card>
    <mat-card-title>Gestione bambini</mat-card-title>
    <mat-card-content  ngClass.gt-xs="content-big" ngClass.gt-sm="content-small" *ngIf="children" class="children" fxLayout="row nowrap" fxLayoutAlign="left">
        <div *ngFor="let child of children" fxLayout="row nowrap" class="child" fxLayoutAlign="left">
            <app-child-card (click)="task_children(child)"
                            [pic]="child.photo"
                            [name]="child.name"
                            [sex]="child.gender"
                            [birthday]="child.birthday"
            ></app-child-card>
        </div>

        <div class="child">
            <mat-card fxFill fxLayoutAlign="center center" class="add" (click)="task_children(null)">
                <mat-icon svgIcon="add"></mat-icon>
            </mat-card>
        </div>
    </mat-card-content>
    <mat-card-content  ngClass.gt-xs="content-big" ngClass.gt-sm="content-small">
        <mat-card *ngIf="title!=null">
            <mat-card-title>{{title}}</mat-card-title>
            <mat-card-content  ngClass.gt-xs="content-big" ngClass.gt-sm="content-small">
                <p class="error">{{error}}</p>
                <form #f="ngForm" (ngSubmit)="f.valid && onSubmit()">
                    <div fxLayout="column">
                        <div fxFill fxLayout.gt-xs="row" fxLayout.lt-sm="column">
                            <div fxFlex.gt-xs="33%">
                                <p>Nome*</p>
                                <input name="name" placeholder="Nome*" [(ngModel)]="child_to_update.name" ngModel
                                       required #name="ngModel">
                                <div *ngIf="f.submitted && name.invalid" class="error">Inserire un nome</div>
                            </div>
                            <div fxFlex="33%" class="btn btn-default">
                                <input *ngIf="!(isScreenSmall$ | async)" type="file" (change)="selectFile($event)">
                            </div>
                        </div>
                        <div fxFill fxLayout.gt-xs="row" fxLayout.lt-sm="column">
                            <div fxFlex="33%" fxLayout="column">
                                <div>
                                    <p>Cognome*</p>
                                    <input placeholder="Cognome*" name="surname" [(ngModel)]="child_to_update.surname"
                                           ngModel required #cognome="ngModel">
                                    <div *ngIf="f.submitted && cognome.invalid" class="error">Inserire un cognome</div>
                                </div>
                                <div>
                                    <p>Data di nascita*</p>
                                    <input placeholder="01/01/2001*" [matDatepicker]="picker" name="birthday"
                                           [(ngModel)]="child_to_update.birthday"
                                           ngModel required #nascita="ngModel">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                    <div *ngIf="f.submitted && nascita.invalid" class="error">Inserire la data di nascita</div>
                                </div>
                            </div>
                            <div fxFlex="33%">
                                <input *ngIf="isScreenSmall$ | async" type="file" (change)="selectFile($event)">
                                <img *ngIf="previewUrl" [src]="previewUrl" class="preview">
                            </div>
                            <div fxFlex="33%">
                                <img [src]="child_to_update.photo ? child_to_update.photo : '../../../../assets/icons/img_avatar.png'"
                                     class="preview">
                            </div>
                        </div>
                        <div fxFill fxLayout.gt-xs="row" fxLayout.lt-sm="column">
                            <div fxFlex="33%">
                                <p>Sesso*</p>
                                <mat-radio-group name="gender"
                                                 [(ngModel)]="child_to_update.gender" required #sesso="ngModel">
                                    <mat-radio-button value="M">M</mat-radio-button>
                                    <mat-radio-button value="F">F</mat-radio-button>
                                </mat-radio-group>
                                <div *ngIf="f.submitted && sesso.invalid" class="error">Inserire il sesso</div>
                            </div>
                            <div fxFlex="33%" fxFlexAlign.gt-xs="center" ngClass.xs="small-options">
                                <mat-checkbox name="disability" [(ngModel)]="child_to_update.disability">
                                    Disabilità
                                </mat-checkbox>
                            </div>
                            <div fxFlex="33%" fxFlexAlign.gt-xs="center" ngClass.xs="small-options">
                                <input placeholder="Altro" name="other" [(ngModel)]="child_to_update.other"
                                       ngModel>
                            </div>
                        </div>
                        <div fxFill fxLayout.gt-xs="row" fxLayout.lt-sm="column">
                            <button mat-raised-button>SALVA</button>
                            <button mat-raised-button type="button" (click)="f.valid && onDelete()" *ngIf="child_to_update.id">ELIMINA
                            </button>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>
<app-spinner *ngIf="children==null || task=='loading'"></app-spinner>
