<div style="width: 100%; height: 100%;" fxLayoutAlign="center center">
  <mat-card class="container" style="text-align: center;">
  <mat-card-title>
    Aggiungi nuovo account
  </mat-card-title>
  <mat-card-content>
    <div class="form-container">
      <form [formGroup]="emailFormGroup" (ngSubmit)="onSubmit()" style="margin-top:15px;">
        <table>
          <tr>
            <td>
              <mat-form-field>
                <input class="validate" [formControl]="email" matInput placeholder="Email" formControlName="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
              <div>
                <mat-checkbox style="margin-top:25px;" formControlName="checkbox">Registra come accompagnatore</mat-checkbox>
              </div>
            </td>
          </tr>
          <tr>
            <td> <button mat-raised-button class="btn-login"
                         [type]="'submit'" [disabled]="!email.valid" style="margin-top:15px;">Aggiungi</button> </td>
          </tr>
        </table>
      </form>
      
    </div>
  </mat-card-content>
</mat-card>
</div>
