input{
  width: 300px;
  margin: 10px
}

.preview{
  width: 250px;
  height: 250px;
}

mat-form-field{
  width: 300px;
  margin-left: 10px;
}

.input_file{
  margin: 11.37px 0;
}

.error{
  color: red;
}

.email{
  margin-left: 10px;
}
