<h1 mat-dialog-title>Aggiungi bambino a {{data.stop}}</h1>
<div mat-dialog-content>
  <mat-form-field *ngIf="data.child_list$ | async as children">
    <mat-label>Bambino/a</mat-label>
    <mat-select placeholder="Kiddo" [(ngModel)]="data.id">
      <mat-option *ngFor="let c of children" [value]="c.id">{{c.name}} {{c.surname | slice:0:1}}.</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annulla</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
