.parent{
  display: table;
  padding: 20px;
}

.tr{
  display: table-row;
}

.td{
  display: table-cell;
}

.home-container{
  border-right: 1px solid #aeaeae55;
  padding-right: 40px;
  box-shadow: +15px 0 15px  -15px;
}

.home-container .header{
  margin: 35px auto;
  font-family: "Roboto";
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-items: center;
}

.header h1{
  margin-bottom: 0;
  font-style: italic;
  font-size: 40pt;
}

.header h4{
  margin-top: 4px;
}

.home-container .content{
  height: 100%;
  margin: 30px auto;
  font-family: Garamond;
  font-weight: 500;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.content p{
  display: inline-block;
  width: 70%;
  font-size: 20pt;
  text-align: center;
}

.hands{
  width: 70%;
  margin-top: 60px;
  margin-bottom: 20px;
  z-index: 2;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.home-container::after {
  content: "";
  background: url('../../../assets/icons/p_logo_blue.png') no-repeat;
  -webkit-background-size: 500px;
  background-size: 500px;
  opacity: 0.1;
  top: calc(50% - 250px);;
  left: calc(50% - 250px);
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.before{
  width: 40px;
  border-left: 1px solid #aeaeae55;
  box-shadow: -15px 0 15px  -15px;
}

mat-divider{
  border-top: 2px solid black;
  margin: 0 150px;
}

.m-30{
  margin-bottom: 30px;
}
