<div class="parent">
  <div class="tr">
    <div class="before td"></div>
    <div class="home-container td">
      <div class="header">
        <h1> Pedibus </h1>
      </div>
      <mat-divider></mat-divider>
      <div class="content">
        <p>
          Ciao mamme e papà, io sono Pedibus, mi occupo di accomagnare i bambini a scuola tutte le mattine!
          <br>
          <br>
          So che vi piacerebbe avere il tempo di accompagnare il vostro bimbo a scuola la mattina
          camminando all'aria aperta, purtoppo però non sempre ci si riesce, il capo vi vuole in ufficio presto e
          le scuole aprono tardi.
          <br>
          Però io ho la soluzione! Porto i vosti bimbi a scuola in orario passeggiando.
          <br>
          Qual'è il mio segreto?
          Mi affido ad un team altamente selezionato, di impeccabile professionalità e di amorevole compagnia:
          <b>I nonni!</b>
          <br>
          <br>
          I nostri nonni vengono sottoposti ad un training intensivo durante il quale vengono messi al corrente delle

          norme di sicurezza e dei percorsi più sicuri per portare ogni singolo "passeggero" in perfetto orario a destinazione,

          tu da casa o dall'ufficio puoi gestire e controllare tutto con il tuo telefono o con il tuo laptop!
         <br>
          Così il tuo bimbo arriva in orario, allegro e rilassato dopo una bella camminata, tu sai sempre dov'è

          e con chi e non ti devi preoccupare più di nulla se non di arrivare al lavoro in orario!
          <br>
          <br>
          Come fare?
          <br>
          Chiedi alla tua scuola di contattarci, al resto ci penseremo noi!
        </p>

        <img src="../../../assets/grandpa-kid-hands-thin.jpg" class="hands">
      </div>
      <mat-divider class="m-30"></mat-divider>
    </div>
  </div>
</div>
