<div class="parent">
  <div class="tr">
    <div class="before td"></div>
    <div class="home-container td">
      <div class="header">
        <h1>Benvenuto su Pedibus!</h1>
        <h4>Il passaggio sicuro per i tuoi ragazzi</h4>
      </div>
      <div class="content">
        <p>
          Quale modo migliore di arrivare a scuola per i nostri bambini di una bella camminata mattutina?

          Non è però sempre facile e orari di lavoro e scuole diverse lo rendono spesso impossibile ci portandoci a

          ripiegare sull'auto o altri mezzi di trasporto.
          <br>
          <br>
          Pedibus rende tutto questo possibile ogni giorno, permettendo a tuoi figli di arrivare a scuola sempre in orario,

          camminando all'aria aperta e incontrando nuovi amici grazie al nostro team di esperti accompagnatori: i nonni.
          <br>
          I nostri nonni vengono sottoposti ad un training intensivo durante il quale vengono messi al corrente delle

          norme di sicurezza e dei percorsi più sicuri per portare ogni singolo "passeggero" in perfetto orario a destinazione,

          e puoi gestire e controllare tutto comodamente dal tuo telefono o dal tuo laptop!
          <br>
          <br>
          Chiedi alla tua scuola di contattarci, al resto ci penseremo noi.
        </p>

        <img src="../../../assets/grandpa-kid-hands-thin.jpg" class="hands">
      </div>
    </div>
  </div>
</div>
