<div style="margin: auto; padding:10px; width: 100%; word-break: break-word; background-color: transparent"
     fxLayout="row">
    <div *ngIf="status=='dialog' || status=='request'" style="background: transparent;">
        <mat-card fxFlex class="blue-background dialog-border dialog-shadow">

            <mat-card-title style="color: #fc463d">
                Dettagli Fermata
            </mat-card-title>
            <mat-card-content>

                <h2>
                    Nome Fermata:
                </h2>
                <p>
                    {{data.stop}}
                </p>
                <h3>
                    Orario:
                </h3>
                <p>
                    {{data.time}}
                </p>
                <div style="color: red; " *ngIf="errorMsg">
                    {{errorMsg}}
                </div>
                <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="space-between">
                    <button mat-raised-button (click)="closeDialog(undefined)">
                        Indietro
                    </button>
                    <button *ngIf="data.reservation.booked" mat-raised-button (click)="update()">
                        Aggiorna
                    </button>
                    <button *ngIf="!data.reservation.booked" mat-raised-button (click)="book()">
                        Prenota
                    </button>
                </div>
            </mat-card-content>
        </mat-card>

        <app-spinner *ngIf="status=='request'"></app-spinner>
    </div>
    <div *ngIf="status=='completed'">
        <mat-card>
            <p>
                {{errorMsg}}
            </p>
        </mat-card>
    </div>
</div>
