<div style="margin: auto; width: 100%; word-break: break-word" fxLayout="row">
    <div *ngIf="status=='dialog' || status=='request'">
        <mat-card class="children" style="width: 30%">
            <mat-card-title>
                Bambini
            </mat-card-title>
            <mat-card-content fxLayout="column" fxLayoutGap="16px">
                <div>
                    Seleziona il bambino che vuoi prenotare
                </div>
                <mat-chip-list class="mat-chip-list-stacked" *ngIf="children && children.length !== 0">
                    <mat-chip *ngFor="let child of children | keyvalue" [selected]="child.value"
                              (click)="selectChild(child.key)">{{child.key}}</mat-chip>
                </mat-chip-list>
            </mat-card-content>
        </mat-card>
        <mat-card fxFlex>

            <mat-card-title>
                Stop details
            </mat-card-title>
            <mat-card-content>

                <h2>
                    Stop name:
                </h2>
                <p>
                    {{data.stop.name}}
                </p>
                <h3>
                    Time:
                </h3>
                <p>
                    {{data.stop.time}}
                </p>
                <div style="color: red; " *ngIf="errorMsg">
                    {{errorMsg}}
                </div>
                <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="space-between">
                    <button (click)="closeDialog()">
                        Indietro
                    </button>
                    <button (click)="book()">
                        Prenota
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
        <app-spinner *ngIf="status=='request'"></app-spinner>
    </div>
    <div *ngIf="status=='completed'">
        <mat-card>
            <p>
                {{errorMsg}}
            </p>
        </mat-card>
    </div>
</div>
