<div class="container" fxLayout.gt-sm="row" fxLayout.lt-sm="column">
    <div class="main" fxFlex>
        <mat-card class="presenze">
            <mat-card-title style="text-align: center">
                Prenotazione
            </mat-card-title>
            <mat-card-content class="presenze">
                <div fxLayout="column">
                    <div fxLayout.gt-xs="row" fxLayout.lt-sm="column" class="row">
                        <mat-form-field class="element">
                            <mat-label>Seleziona una linea</mat-label>
                            <mat-select [(value)]="selectedLine" (valueChange)="updateData()">
                                <mat-option *ngFor="let line of lines" [value]="line">{{line.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="element">
                            <mat-label>Direzione</mat-label>
                            <mat-select [(value)]="selectedDirection" (valueChange)="updateData()">
                                <mat-option value="outward">Scuola</mat-option>
                                <mat-option value="back">Casa</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row">
                        <mat-form-field class="element">
                            <input matInput [matDatepickerFilter]="allowedDaysFilter" [matDatepicker]="picker"
                                   placeholder="Seleziona una data" [formControl]="selectedDate"
                                   (dateChange)="updateData()">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker [touchUi]="isMobile" #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div #tabs *ngIf="selectedLine">
                    <mat-divider [inset]="true"></mat-divider>
                    <p style="font-weight: bold;">
                        Clicca su una fermata per selezionarla
                    </p>
                    <mat-divider [inset]="true"></mat-divider>
                    <mat-tab-group dynamicHeight class="tabs" (resized)="onResize($event)" mat-stretch-tabs
                                   [(selectedIndex)]="selectedRun" (selectedIndexChange)="changeTab()">
                        <div>
                            <mat-tab *ngFor="let run of selectedLine.stops.stops[0].outward; let i = index" label="Andata {{i+1}}">
                                <div class="stops">
                                    <app-stop-list (window:resize)="onResize($event)"
                                                   *ngIf="stopRows; else spinner"
                                                   [times]="times[0][i]"
                                                   [stops]="stopRows[0]"></app-stop-list>
                                </div>

                            </mat-tab>
                            <mat-tab *ngFor="let run of selectedLine.stops.stops[0].back; let i = index" label="Ritorno {{i+1}}">
                                <div class="stops">
                                    <app-stop-list *ngIf="stopRows; else spinner"
                                                   [times]="times[1][i]"
                                                   [stops]="stopRows[1]"></app-stop-list>

                                </div>
                            </mat-tab>
                        </div>
                    </mat-tab-group>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>


<ng-template #spinner>
    <app-spinner></app-spinner>
</ng-template>
