.container {
  position: relative;
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
}

.main {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: auto;
}

.element {
  margin: auto;
}

.row {
  display: flex;
  justify-content: flex-start;
}

.fill-row {
  flex: 1 1 auto;
}

mat-form-field {
  width: 160px;
}

.mt-4 {
  margin-top: 4px;
}

.present {
  color: blue;
}

.custom-list .mat-list-item {
  height: auto;
  min-height: 48px;
}

.dummy {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  width: fit-content;
  margin: 0;
  white-space: nowrap;
}

.stops {
  margin: auto;
  width: fit-content;
}

mat-tab-group {
  height: auto;
}

mat-tab-body {
  place-content: center;
  margin-bottom: 5px;
}

.legend {
  vertical-align: middle;
  display: inline-block;
  min-width: 30px;
  min-height: 15px;
}

.RED {
  background-color: #e3170a;
  color: white;
}

.BLUE {
  background-color: #3788d8;
  color: black;
}

.GRAY {
  background-color: #acacac;
  color: black;
}

.YELLOW{
  background-color: yellow;
  color: black;
}

p {
  margin: 5px 0;
}

.event {
  padding: 5px;
  flex-direction: row !important;
  -webkit-box-shadow: inset 0px 0px 0px 1px black;
  -moz-box-shadow: inset 0px 0px 0px 1px black;
  box-shadow: inset 0px 0px 0px 1px black;
  height: 100%;
}

.calendar_cell {
  width: inherit!important;
  margin: auto;
  padding: 5px;
  height: 100%;
}

mat-expansion-panel{
  margin: 10px;
}
