.container {
  position: relative;
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
}

.main {
  min-height: 0;
  overflow: auto;
  padding: 10px;
}

.element {
  margin: auto;
}

.row {
  display: flex;
  justify-content: flex-start;
}

.fill-row {
  flex: 1 1 auto;
}

mat-form-field {
  width: 160px;
}

.mt-4 {
  margin-top: 4px;
}

.present {
  color: blue;
}

.custom-list .mat-list-item {
  height: auto;
  min-height: 48px;
}

.dummy {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  width: fit-content;
  margin: 0;
  white-space: nowrap;
}

.stops {
  margin: auto;
  width: fit-content;
}

mat-tab-group{
  height: auto;
}

mat-tab-body{
  place-content: center;
}
