<div style="width: 100%; height: 100%;" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-title fxLayoutAlign="center center" >
      Accesso Non Autorizzato
    </mat-card-title>
    <mat-card-content fxLayoutAlign="center center" >
      <p style="margin-top: 15px; margin-bottom: 15px;">Non è consentito navigare all'indirizzo richiesto.</p>
    </mat-card-content>
    <mat-card-footer fxLayoutAlign="end center" style="padding: 5px; border-top: 1px solid #c9c9c9">
      <button mat-raised-button routerLink="/">Torna alla Home</button>
    </mat-card-footer>
  </mat-card>
</div>
