<div style="width: 100%; height: 100%;" fxLayoutAlign="center center">
  <mat-card class="container" fxLayout="column">

    <mat-card-header fxLayout="column" fxFlexAlign="center center" fxFlex="1 1 50px">
      <mat-card-title style="text-align: center">
        Presenze
      </mat-card-title>
    </mat-card-header>

    <mat-card-content fxLayout="column" fxFlex="2 1 100%">
      <div fxFlex="0 0 auto">
        <mat-grid-list cols="1" rowHeight="4:1">
          <mat-grid-tile class="row">
            <mat-form-field>
              <mat-label>Seleziona una linea</mat-label>
              <mat-select [(value)]="selectedLine" (valueChange)="updateData()">
                <mat-option *ngFor="let line of lines" [value]="line">{{line.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <span class="fill-row"></span>

            <mat-form-field>
              <mat-label>Direzione</mat-label>
              <mat-select [(value)]="selectedDirection" (valueChange)="updateData()">
                <mat-option value="outward">Scuola</mat-option>
                <mat-option value="back">Casa</mat-option>
              </mat-select>
            </mat-form-field>

          </mat-grid-tile>

          <mat-grid-tile class="row">
            <mat-form-field>
              <input matInput [matDatepickerFilter]="allowedDaysFilter" [matDatepicker]="picker"
                     placeholder="Seleziona una data" [formControl]="selectedDate"
                     (dateChange)="updateData()" #date>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker [touchUi]="isMobile" #picker></mat-datepicker>
            </mat-form-field>

            <span class="fill-row"></span>

            <!--span>
            <button mat-icon-button>
              <mat-icon>chevron_left</mat-icon>
            </button>

            <button mat-icon-button>
              <mat-icon>chevron_right</mat-icon>
            </button>
          </span-->
          </mat-grid-tile>
        </mat-grid-list>

      </div>
      <mat-divider [inset]="true"></mat-divider>
      <div class="tabs attendance-tabs" fxFlex="1 0 100%" fxLayout="column">
        <mat-tab-group dynamicHeight mat-align-tabs="center" [selectedIndex]="selectedRun" fxFlex="1 0 100%" (selectedTabChange)="tabSwitch($event)" mat-stretch-tabs>
          <div *ngIf="selectedLine">
            <mat-tab *ngFor="let run of selectedLine.stops.stops[0].outward; let i = index" label="Andata {{i+1}}" fxLayout="column" fxFlexAlign="center center" fxFlex="1 0 100%">
              <mat-list dense>
                <mat-list-item>
                  <app-stop-row [stop-name]="'Partenza'" [type]="'start'"></app-stop-row>
                </mat-list-item>
                <mat-list-item>
                  <app-stop-row [type]="'dots'"></app-stop-row>
                </mat-list-item>
                <div *ngFor="let stop of selectedLine.stops.stops; let j = index">
                  <mat-list-item>
                    <app-stop-row
                                  [type]="'intermediate'"
                                  [children]="reservedStops$"
                                  [direction]="'outward'"
                                  [tripIndex]="i"
                                  [stopIndex]="j"
                                  [stop-name]="stop.name"
                                  [stop-time]="stop.outward[i]"
                                  [not-reserved-kids]="notReservedKids$"
                                  (add-child)="addChild($event)"
                                  (child-presence)="toggleChildPresence($event)"></app-stop-row>
                  </mat-list-item>
                  <mat-list-item>
                    <app-stop-row [type]="'dots'"></app-stop-row>
                  </mat-list-item>
                </div>
                <mat-list-item>
                  <app-stop-row [stop-name]="'Scuola'" [type]="'end'"></app-stop-row>
                </mat-list-item>
              </mat-list>
            </mat-tab>
            <mat-tab *ngFor="let run of selectedLine.stops.stops[0].back; let i = index" label="Ritorno {{i+1}}">
              <mat-list dense>
                <mat-list-item>
                  <app-stop-row [stop-name]="'Scuola'" [type]="'start'"></app-stop-row>
                </mat-list-item>
                <mat-list-item>
                  <app-stop-row [type]="'dots'"></app-stop-row>
                </mat-list-item>
                <div *ngFor="let stop of selectedLine.stops.stops.slice().reverse(); let j = index">
                  <mat-list-item>
                    <app-stop-row
                                  [type]="'intermediate'"
                                  [children]="reservedStops$"
                                  [direction]="'back'"
                                  [tripIndex]="i"
                                  [stopIndex]="j"
                                  [stop-name]="stop.name"
                                  [stop-time]="stop.back[i]"
                                  [not-reserved-kids]="notReservedKids$"
                                  (add-child)="addChild($event)"
                                  (child-presence)="toggleChildPresence($event)"></app-stop-row>
                  </mat-list-item>
                  <mat-list-item>
                    <app-stop-row [type]="'dots'"></app-stop-row>
                  </mat-list-item>
                </div>
                <mat-list-item>
                  <app-stop-row [stop-name]="'Arrivo'" [type]="'end'"></app-stop-row>
                </mat-list-item>
              </mat-list>
            </mat-tab>
          </div>
        </mat-tab-group>
      </div>
      <mat-card-footer fxLayoutAlign="end center">
        <a class="download-btn" [href]="downloadJsonHref" [download]="jsonFilename">Scarica Presenze</a>
      </mat-card-footer>
    </mat-card-content>
  </mat-card>
</div>
