<mat-card>
    <mat-card-header>
      <mat-card-title>Cambia Password</mat-card-title>
    </mat-card-header>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-content ngClass.gt-xs="content-big" ngClass.xs="content-small">
        <form (ngSubmit)="f.valid && onSubmit(f)" #f="ngForm">
            <div fxLayout="column">
                <div fxLayout.gt-xs="row" fxLayout.xs="column">
                <mat-form-field>
                  <mat-label>Password Attuale</mat-label>
                  <input matInput type="password" name="old_pass" [(ngModel)]="cp.oldpass">
                </mat-form-field>
                <p class="error" *ngIf="wrong_password">Password errata</p>
              </div>

                    <div fxLayout.gt-xs="row" fxLayout.xs="column">
                <mat-form-field>
                  <mat-label>Nuova Password</mat-label>
                  <input matInput type="password" name="new_pass" [(ngModel)]="cp.pass" #new_pass="ngModel" minlength="8" required>
                </mat-form-field>
                <p *ngIf="f.submitted && new_pass.invalid" class="error">Nuova password troppo corta, almeno 8
                  caratteri</p>
              </div>

                    <div fxLayout.gt-xs="row" fxLayout.xs="column">
                <mat-form-field>
                  <mat-label>Ripeti Nuova Password</mat-label>
                  <input matInput type="password" name="re_pass" [(ngModel)]="cp.repass" #re_pass="ngModel" required
                         pattern="{{cp.pass}}">
                  <p *ngIf="f.submitted && re_pass.invalid" class="error">Le due password non coincidono</p>
                </mat-form-field>
                <p class="error" *ngIf="wrong_password">Password errata</p>
              </div>

              <div>
                  <button mat-raised-button color="primary">SALVA</button>
              </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>
<app-spinner *ngIf="task=='loading'"></app-spinner>
