<mat-card>
  <mat-card-title>Cambio Password</mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()">
      <div fxLayout="column">
        <label>
          <p>Password attuale:</p>
          <input type="password" name="old_pass" [(ngModel)]="cp.oldpass">
        </label>
        <label>
          <p>Nuova password:</p>
          <input type="password" name="new_pass" [(ngModel)]="cp.pass">
        </label>
        <label>
          <p>Ripeti nuova password:</p>
          <input type="password" name="re_pass" [(ngModel)]="cp.repass">
        </label>
        <button type="submit" >SALVA</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
