.error{
  color: red;
}

input{
  margin: 10px 12px;
}

p{
  margin: 10px;
}

.content-big{
  width: 750px;
  padding: 10px;
}

.content-small{
  width: 100%;
  padding: 10px;
}

button{
  margin: 10px 0px;
}
