<mat-card>
    <mat-card-title>Cambio Password</mat-card-title>
    <mat-card-content ngClass.gt-xs="content-big" ngClass.gt-sm="content-small">
        <form (ngSubmit)="f.valid && onSubmit(f)" #f="ngForm">
            <div fxLayout="column">
                <div>
                    <p>Password attuale:</p>
                </div>
                <div fxLayout.gt-xs="row" fxLayout.lt-sm="column">
                    <input type="password" name="old_pass" [(ngModel)]="cp.oldpass">
                    <p class="error" *ngIf="wrong_password">Password errata</p>
                </div>
                <div>
                    <div>
                        <p>Nuova password:</p>
                    </div>
                    <div fxLayout.gt-xs="row" fxLayout.lt-sm="column">
                        <input type="password" name="new_pass" [(ngModel)]="cp.pass" #new_pass="ngModel" minlength="8" required>
                        <p *ngIf="f.submitted && new_pass.invalid" class="error">Nuova password troppo corta, almeno 8
                            caratteri</p>
                    </div>
                </div>
                <div>
                    <div>
                        <p>Ripeti nuova password:</p>
                    </div>
                    <div fxLayout.gt-xs="row" fxLayout.lt-sm="column">
                        <input type="password" name="re_pass" [(ngModel)]="cp.repass" #re_pass="ngModel" required
                               pattern="{{cp.pass}}">
                        <p *ngIf="f.submitted && re_pass.invalid" class="error">Le due password non coincidono</p>
                    </div>
                </div>
                <div>
                    <button mat-raised-button>SALVA</button>
                    <p *ngIf="f.submitted && error" class="error">Qualcosa è andato storto</p>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>
<app-spinner *ngIf="task=='loading'"></app-spinner>
