<mat-card role="group" fxLayout="column" fxLayoutAlign="center center">
  <mat-card-header>
    <mat-card-title style="text-align: center;">
      Calendario Turni
    </mat-card-title>
    <mat-card-subtitle>
      Seleziona un mese per visualizzarne i turni assegnati.
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content fxLayoutAlign="center center">
    <div class="calendar-container" >
      <full-calendar defaultView="dayGridMonth" (eventClick)="eventShowPopup($event)"
                     [plugins]="calendarPlugins" [hiddenDays]="[0]"
                     [events]="shiftService.getCalendarShifts() | async" #calendar></full-calendar>
    </div>
  </mat-card-content>
</mat-card>
