<div #container ngClass.lt-sm="small_container" ngClass.gt-xs="container">
    <div (click)="selectStop()"
         *ngIf="type==='intermediate'; else others" class="clickable">
        <mat-icon *ngIf="selected_stop==undefined || stop.name!=selected_stop" svgIcon="flag"></mat-icon>
        <mat-icon *ngIf="selected_stop!=undefined && stop.name==selected_stop" svgIcon="selected_flag"></mat-icon>
        <div [ngClass.xs]="stop.name==selected_stop ? 'selected_small_text' :'small_text'" [ngClass.gt-xs]="stop.name==selected_stop ? 'selected_text' :'text'" [ngClass]="selected_stop!=undefined && stop.name==selected_stop ? 'selected-text-container' : 'text-container'">
            <p>
                {{stop.name}}
            </p>
        </div>
    </div>
</div>

<ng-template #others>
    <div>
        <mat-icon class="red" *ngIf="type==='start'" svgIcon="start_line"></mat-icon>
        <mat-icon *ngIf="type==='intermediate_icon'" svgIcon="intermediate_line"></mat-icon>
        <div *ngIf="type==='intermediate_icon'" ngClass.gt-xs="time" ngClass.lt-sm="small_time">
            {{time}}
        </div>
        <mat-icon class="red" *ngIf="type==='end_left'" svgIcon="end_left"></mat-icon>
        <mat-icon class="red" *ngIf="type==='end_right'" svgIcon="end_right"></mat-icon>
        <mat-icon class="red" *ngIf="type==='right'" svgIcon="right"></mat-icon>
        <mat-icon class="red smaller_icon" *ngIf="type==='top_left'" svgIcon="top_left"></mat-icon>
        <mat-icon class="red smaller_icon" *ngIf="type==='top_right'" svgIcon="top_right"></mat-icon>
        <mat-icon class="red smaller_icon" *ngIf="type==='down'" svgIcon="down"></mat-icon>
        <mat-icon class="red smaller_icon" *ngIf="type==='bottom_left'" svgIcon="bottom_left"></mat-icon>
        <mat-icon class="red smaller_icon" *ngIf="type==='bottom_right'" svgIcon="bottom_right"></mat-icon>
    </div>
</ng-template>

