<div  fxLayout.gt-xs="row nowrap" fxLayout.xs="column nowrap" ngClass.gt-xs="main-big" ngClass.xs="main-small" fxLayoutAlign="center" style="padding-top:15px;">
    <mat-card ngClass.xs="menu" [style.height]="'fit-content'">
        <mat-card-content ngClass.gt-xs="container-big" ngClass.xs="container-small">
            <div>
                <div fxLayout="row nowrap">
                    <img mat-card-avatar class="avatar"
                         [src]="(user && user.photo) ? user.photo : '../../../../assets/icons/img_avatar.png'">
                    <p *ngIf="user" class="name">{{user.name}}</p>
                </div>
            </div>
            <hr>

            <div *ngIf="!(isScreenSmall$ | async)" class="container-big">
                <button (click)=selectTaskProfilo()
                        class="menu-item"
                        mat-flat-button>
                    <mat-icon>dashboard</mat-icon>
                    Profilo
                </button>

                <button (click)=selectTaskBambini()
                        class="menu-item"
                        mat-flat-button>
                    <mat-icon>insert_emoticon</mat-icon>
                    Bambini
                </button>

                <button
                  *ngIf="isAdmin"
                  (click)="selectTaskGestioneUtenti()"
                  class="menu-item"
                  mat-flat-button>
                  <mat-icon>contacts</mat-icon>
                  Gestione Utenti
                </button>

                <button (click)=selectTaskCambioPassword()
                        class="menu-item"
                        mat-flat-button>
                    <mat-icon>settings_application</mat-icon>
                    Cambia Password
                </button>
            </div>

            <div *ngIf="isScreenSmall$ | async" class="container-small" fxLayout="row nowrap" fxFill
                              fxLayoutAlign="center">
                <button (click)=selectTaskProfilo()
                        class="menu-item"
                        mat-flat-button>
                    <mat-icon>dashboard</mat-icon>
                </button>

                <button (click)=selectTaskBambini()
                        class="menu-item"
                        mat-flat-button>
                    <mat-icon>work</mat-icon>
                </button>

                <button
                  *ngIf="isAdmin"
                  (click)="selectTaskGestioneUtenti()"
                  class="menu-item"
                  mat-flat-button>
                  <mat-icon>contacts</mat-icon>
                </button>

                <button (click)=selectTaskCambioPassword()
                        class="menu-item"
                        mat-flat-button>
                    <mat-icon>settings_application</mat-icon>
                </button>
            </div>
        </mat-card-content>
    </mat-card>
    <div ngClass.gt-xs="task" ngClass.xs="task-small" *ngIf="task==='bambini'">
        <app-manage-children></app-manage-children>
    </div>
    <div ngClass.gt-xs="task" ngClass.xs="task-small" *ngIf="task==='profilo'">
        <app-profile></app-profile>
    </div>
    <div ngClass.gt-xs="task" ngClass.xs="task-small" *ngIf="task==='cambioPwd'">
        <app-change-password></app-change-password>
    </div>
    <div ngClass.gt-xs="task" ngClass.xs="task-small" class="task" *ngIf="task==='manageUsers'">
        <app-manage-users></app-manage-users>
    </div>
</div>
