<mat-tab-group>

  <mat-tab label="Turni">
    <ng-template matTabContent>
      <div class="shift-tab-container">
        <div class="upcoming">
          <app-upcoming-shifts></app-upcoming-shifts>
        </div>
        <div class="calendar">
          <app-shift-calendar></app-shift-calendar>
        </div>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="Disponibilità">
    <ng-template matTabContent>
      <div class="shift-tab-container">
        <app-shift-availabilities></app-shift-availabilities>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
