.pointer{
  cursor: pointer;
}

.menu-element{
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.site-name{
  @media (max-width: 960px){
    margin-left: 8px;
  }
}

.side-container{
  min-width: 200px;
}

.menu-container{
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
}

.avatar{
  display: inline-block;
  background-image: url("../../../assets/icons/img_avatar.png");
  background-size: 40px 40px;
}

.logged-user-style{
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 10px;
  font-weight: 200;
  height: min-content;
  cursor: pointer;
  padding: 0 4px;
  border-radius: 4px;
}

.logged-user-style:hover{
  background-color: #385169;
}

.user-email{
  font-size: 12px;
  font-weight: 500;
}
