<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <mat-list-item (click) = selectTaskProfilo()>
        <button 
        class="menu-item"
          mat-flat-button>
          <mat-icon>dashboard</mat-icon>
        Profilo</button>
      </mat-list-item>

      <mat-list-item (click) = selectTaskBambini()>
          <button 
          class="menu-item"
            mat-flat-button>
            <mat-icon>work</mat-icon>
          Bambini</button>
        </mat-list-item>

        <mat-list-item (click) = selectTaskCambioPassword()>
            <button 
            class="menu-item"
              mat-flat-button>
              <mat-icon>settings_application</mat-icon>
            Cambia Password</button>
          </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>frontend</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div *ngIf="task==='bambini'">
      <p>Bambini</p>
      
    </div>
    <div *ngIf="task==='profilo'">
      <div class="example-container" *ngIf="user !== null" class="menu-element">
        <form  [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>{{name}}</mat-label>
          <input matInput placeholder="name" formControlName = "nameDopo">
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{surname}}</mat-label>
            <input matInput placeholder="surname" formControlName = "surnameDopo"  >
          </mat-form-field>

          <mat-form-field>
              <mat-label>{{address}}</mat-label>
              <input matInput placeholder="address" formControlName = "addressDopo">
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{telephone}}</mat-label>
                <input matInput placeholder="telephone" formControlName = "telephoneDopo">
              </mat-form-field>
              <button mat-raised-button class="btn-login"
              [type]="'submit'">Salva</button>
            </form>

            
      
      </div>
    </div>

    <div *ngIf="task==='cambioPwd'"></div>

    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
